<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="vnext-nightlys" value="https://www.myget.org/F/aspnetvnext/api/v2/"/>
        <add key="vnexts" value="https://www.myget.org/F/aspnetmaster/api/v2/"/>
        <add key="nugets" value="https://www.nuget.org/api/v2/"/>
        <add key="vnext-nightly" value="http://www.myget.org/F/aspnetvnext/api/v2/"/>
        <add key="vnext" value="http://www.myget.org/F/aspnetmaster/api/v2/"/>
        <add key="nuget" value="http://www.nuget.org/api/v2/"/>
    </packageSources>
</configuration>
